---
layout: default
---

<div class="home">
 <div class="top card">
    <a class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    <p class="phone" style="padding : 0;margin : 0;line-height : 20px; color: orange;">{{ site.phone }}</p>
    <p class="location" style="padding : 0;margin : 0;line-height : 20px; color: orange;">{{ site.location }}</p>
    <p class="description">{{ site.description }}</p>
    {% include pdfs.html %}
  </div>
  <div class="posts card">
      <div class="card-content white-text">
      <span class="card-title">Some Projects</span>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta"></span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      </div>
   </div>

</div>
