<div class="container" style="max-width: 60%">
  <div class="row" style="text-align:center;">
    <div class="three columns">
      <a href="{{ site.baseurl }}/assets/KhanyaBoumaCV.pdf" >
        <img src="{{ site.baseurl }}/assets/CV.png" class="u-full-width" alt="CV">
      </a>
      <p>CV</p>
    </div>
    <div class="three columns">
      <a href="{{ site.baseurl }}/assets/KhanyaBoumaCoverletter.pdf" >
        <img src="{{ site.baseurl }}/assets/Letter.jpg" class="u-full-width" alt="CV">
      </a>
      <p>Cover Letter</p>
    </div>
    <div class="three columns">
      <a href="{{ site.baseurl }}/assets/LettersofRecommendations.pdf" >
        <img src="{{ site.baseurl }}/assets/References.jpg" class="u-full-width" alt="CV">
      </a>
      <p>References</p>
    </div>
    <div class="three columns">
      <a href="{{ site.baseurl }}/assets/KhanyaBoumaProjectExperience.pdf" >
        <img src="{{ site.baseurl }}/assets/Experience.png" class="u-full-width" alt="CV">
      </a>
      <p>Project Experience</p>
    </div>
  </div>
</div>
